// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card + .card {
    margin-top: 10px;
}

$navbar-height: 55px;

nav.navbar {
    height: $navbar-height; 
    z-index: 10; 
    background-color: #263238; 
    color: white;
    & > div > a > .navbar-button {
        margin-right: 5px;
        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }
}

main {
    position: absolute; 
    top: $navbar-height; 
    bottom: 0; 
    left: 0; 
    right: 0;
    padding-top: 2em;
}

.borderless-top-card {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

body {
    min-height: 100vh;
    & > * {
        -webkit-touch-callout: none;
        -webkit-user-select:   none;
        -khtml-user-select:    none;
        -moz-user-select:      none;
        -ms-user-select:       none;
        user-select:           none;
    }
}

// .btn-link {
//     padding: 0;
//     color: #3E4551 !important;
//     text-decoration: none !important;
//     &:hover {
//         color: #4B515D !important;
//     }
// }

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

i.fas.centered, i.far.centered {
    display: inline-block;
    width: 40px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.text-unique { color: $unique-color }

input[type="date"], input[type="datetime-local"], input[type="time"], input[type="month"], input[type="week"] { height: 37px }

input {
    height: 37px;
}

.btn-circle {
    border-radius:100%;
}

.btn-unique {
    color: white;
    background-color: #3F729B;
}

.btn-outline-unique {
    border-color: #3F729B;
    color: #3F729B;
    background-color: transparent;
}

.btn-outline-unique:hover {
    background-color: #3F729B;
    color: white;
}

.btn-outline-unique.btn-static {
    border-color: #3F729B;
    color: #3F729B;
    background-color: transparent;
}

span.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus,
span.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--open,
span.select2.select2-container.select2-container--bootstrap.select2-container--above.select2-container--focus,
span.select2.select2-container.select2-container--bootstrap.select2-container--above.select2-container--open {
    box-shadow: 0 0 0 2pt rgb(206, 220, 218);
    border-radius: 3px;
}

span.select2-dropdown.select2-dropdown--below {
    box-shadow: 0 2pt 0 2pt #ced4da;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
span.select2-dropdown.select2-dropdown--above {
    box-shadow: 0 -2pt 0 2pt #ced4da;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

// Old table format
//     display: flex;
//     flex-flow: column;
//     height: 100%; width: 100%;
//     & > thead {
//         flex: 0 0 auto;
//         width: calc(100% - 5px);
//         & > tr {
//             border: 0;
//             border-bottom: 1px solid grey;
//             & > th {
//                 padding: 0.5em;
//                 cursor: pointer; 
//                 border: 0;
//             }
//         }
//     }

//     & > thead, & > tbody > tr {
//         display: table;
//         table-layout: fixed;
//     }

//     & > tbody {
//         flex: 1 1 auto;
//         display: block;
//         overflow-y: scroll;
//         & > tr {
//             width: 100%;
//         }
//         & > tr > td > i.selected-item {
//             color: #3F729B;
//         }
//         & > tr:hover {
//             cursor: pointer;
//             background-color: rgb(240, 240, 240);
//         }
//         & > tr > td {
//             border: 0;
//             border-bottom: 1px solid whitesmoke;
//             padding: 8px;
//         } 
//     }

//     & > thead > tr > th.pickable, & > tbody > tr > td.pickable {
//         width: 3em;
//     }

//     /* Track */
//     ::-webkit-scrollbar-track {
//         background: transparent; 
//     }