
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.borderless-top-card {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

body {
    min-height: 100vh;
}

i.fas.centered, i.far.centered {
    display: inline-block;
    width: 40px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.text-unique { color: $unique-color }



// Notifications transitions

// Sidebar transitions
.sidebar-enter, .sidebar-leave-to { transform: translateX(-15vw) }
.sidebar-enter-active, .sidebar-leave-active  { transition: all .5s }
